body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 48px;
}
.spancolor{
    color: #007ec7;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: #3cb6ee;
    padding: 13px;
    font-weight: bolder;
    border-radius: 6px;
    background-image: linear-gradient(#3cb6ee,#007ec7);
    color: white;
}
.link-button:hover{
    color: black;
}

.top-banner{
    background-image: url(images/top-banner\ developer.png);
    background-repeat: no-repeat;
}


/* .parasize{
    width: 700px;
    text-align: justify;
}
button{
    width: 150px;
    height: 50px;
} */

