body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 48px;
}
p{
    text-align: justify;
}
hr{
    border: 10px solid #d9f3ff;
}
.spancolor{
    color: #007ec7;
}
.flexible-container{
    display: flex;
    margin-bottom: 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: #3cb6ee;
    padding: 13px;
    font-weight: bolder;
    border-radius: 6px;
    background-image: linear-gradient(#3cb6ee,#007ec7);
    color: white;
}
.link-button:hover{
    color: black;
}

.top-banner{
    background-image: url(images/top-banner\ developer.png);
    background-repeat: no-repeat;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience .exptitle{
    padding-left: 5%;
    margin-bottom: 0;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}

.experience .half-width{
   margin: 5%;
   box-shadow: 10px 10px  10px 8px #dddd;
   padding: 3%;
}

.experience .half-width h1{
    margin-top: 0;
}
.frontendborder{
    border-image: linear-gradient(orange,#ffdc17);
    border-left: 10px solid;
    border-image-slice:1;

}
.backendborder{
    border-image: linear-gradient(#0084f0,#3cb6ee);
    border-left: 10px solid;
    border-image-slice:1;
}
footer p{
    text-align: center;
}